{% extends 'layout2.html' %} {% block title %} {% endblock %} {% block body %}

<body class="d-flex flex-column text-center text-white" style="background-color: #383838">
    <section class="container d-flex  p-3 mt-4 mx-auto mx-auto flex-column" style="height: 400px">
    <div class="col-md-4 offset-md-4 mt-5">
      <div class="card card-body">
        <form action="/update_sparepart/{{data.Id}}" method="POST">
          <div class="form-group">
            <div class="text-dark text-left ms-1 fs-6 mb-2">Data</div>
            <input type="text" name="nama_part" value="{{data.nama_part}}" class="form-control" placeholder="Sparepart" />
          </div>
          <div class="form-group">
            <div class="text-dark text-left ms-1 fs-6 mb-2">Timestamp</div>
            <input type="text" name="timestamp" value="{{data.timestamp}}" class="form-control" placeholder="Price" />
          </div>
          <div class="form-group">
            <div class="text-dark text-left ms-1 fs-6 mb-2">Status</div>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="Good" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnradio1">Good</label>
              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="Not Good" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnradio2">Not Good</label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}