{% extends 'layout2.html' %} {% block title %} Sparepart2 {% endblock %} {% block body %}
<!-- Jumbotron -->
<body class="d-flex flex-column text-center text-dark"></body>
  <section class="cover-container d-flex w-100 h-100 p-3 mt-4 mx-auto flex-column">
    <header class="mb-auto"></header>
    <section class="jumbotron text-center" style="background-color: #00000000">
      <h1 class="display-4">Sparepart Department</h1>
      <p class="lead">Toko Sparepart Lengkap</p>
    </section>
  </section>
  <!-- Akhir Jumbotron -->

 




  
  </div>
  <div class="container">

      {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show mt-3 mx-auto" role="alert" style="width: 20rem">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      {% endfor %} {% endif %} {% endwith %}
      <div class="col-md-10 mx-auto">
        <table id="example" class="table table-striped table-hover table-bordered table-light" style="width: 100%">
          <thead>
            <tr>
              <td>No</td>
              <td>Sparepart</td>
              <td>timestamp</td>
              <td>status</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            {% for item in list_part %}
            <tr>             
              <td>{{item.Id}}</td>
              <td>{{item.nama_part}}</td>
              <td>{{item.timestamp}}</td>
              <td>{{item.status}}</td>
              <td width="130">
                
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- Chart -->
      <div style="margin-top: 20px;">
        <canvas id="myChart"></canvas>
      </div>
  </div>

  
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const labels = {{chart_labels | tojson}};
  const chart_data = {{ chart_data | tojson}};
  
  const data = {
    labels: labels,
    datasets: [{
      label: 'Status',
      data: chart_data,
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
      ],
      borderWidth: 1
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    },
  };

  var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

{% endblock %}
